html{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;;
   
}


.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;

}

.sidebar{
    background-color: black(89, 16, 161);
    width: 340px;
    border-radius: 1rem;
    margin-right: 1rem;
    
}

.main-content{
    background-color:#121212;
    ;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;

}


.nav-option{
line-height: 2.5rem;
opacity: 0.7;
padding: 0.5rem 0.75rem;

}


.nav-option i {
    font-size: 1.25rem;

}


.nav-option a{
    height: 1 rem;
    margin-left: 1rem;
}

.nav-option:hover{
    opacity: 1.00;
}


.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
}

.option{
    display: flex;
justify-content: space-between;
align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}


.icons{
    
   font-size: 1.25rem;
    display: flex;
}

.icons i{
    margin-right: 1rem;
    opacity: 0.7;
    ;
}

.icons i:hover{
    opacity: 1;
}

.box{
    height: 10rem;
    background-color: #232322;
    border-radius: 1rem;
    margin: 1.75rem 0 2rem 0;
    padding-left: 1.5rem;
    padding-top: 0.25rem;
    
     
     
    
}

.box-p1{
    font-size: 1.25rem;
    font-weight: 600;
}

.box-p2{
    font-size: 1rem;
    opacity: 0.9;
}

.badge{
    background-color: white;
    border-radius: 1rem;
    border: none;
   font-weight: 600;
   margin-top: 0.5rem;
   height: 2rem;
   text-align: center;
   
   
    padding: 0.25rem 1rem;
}

.sticky-nav{
    position: sticky;
    top: 0rem;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 3;
}


.sticky-nav-options{
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1.5rem;
}

.dark{
    background-color: black;
    color: white;
}

.dark:hover{
    font-size: 0.9rem;
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color: #232322;
    width: 11rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 1.5rem;
    margin-top: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;

}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 700;
    justify-content: center;
    text-align: center;
}

.card-info{
    justify-content: center;
    text-align: center ;
}


.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white ;
    opacity: 0.3;
}

.music-player{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.albums{
    width: 25%;
}

.player{
    width: 50%;

}

.controls{
    width: 25%;
}


.player-control{ 
    display: flex;
    align-items: center;
    justify-content: center

}

.player-control-icon{
    height: 1rem;
    margin-right: 2rem;
}

.progress{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.bar{
    width: 70%;
    margin-top: 1rem;
    cursor: pointer;
} 

.albums{
    display: flex;
}

.photo{
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    margin-top: 3rem;
}

.firstline{
    font-size: 1.25rem;
    margin-top: 2rem;
    
}

.Secondline{
    font-size: 0.85rem;
    opacity: 0.8;
}

.kya{
    margin: 1.75rem 0 2rem 0;
    text-align:center;
}